#windowLoading {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 30%;
    left: 42%;
    align-items: center;

}

.charts {
    margin-top: 30px;
    /*position: absolute;*/
}
.pie {
    width: 900px;
    height: 400px;
}


.divTable {
    display: table;
    border-collapse: collapse;

}

.row {
    display: table-row;
}

.cell {
    height: 40px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #cccccc;
    padding: 0 15px 0 10px;

}


#text {
    display: -webkit-box;
    /*设置显示最大行数*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /*超出部分隐藏，用...代替*/
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.5em;
}

.divTable a {
    text-decoration: none;
    color: #303030;
}

.divTable a:hover {
    color: mediumblue;
}

/*表头的样式*/
.row:first-of-type {
    font-weight: bold;
    font-size: 17px;
}

#hidden {
    display: none;
}