body {
    margin: 0 auto;
    padding: 0;
    background-color: #d6d6d6;
}

.sidebar {
    height: 100%;
    width: 250px;
    /*固定在屏幕上，不随页面滚动而移动*/
    position: fixed;
    /*top: 0;*/
    /*left: 0;*/
    background-color: rgb(51, 58, 64);
}

.logo {
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

    color: white;
    font-size: 25px;
    font-weight: bold;

    border-bottom: 1px solid #ccc;

}

.logo img {
    width: 20%;
    height: 20%;

    display: inline-block;
    vertical-align: text-bottom;
}

.sidebar a {
    padding: 16px 16px 16px 20px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    transition: 0.3s;
    vertical-align: text-bottom;
}


.index {
    margin-top: 20px;
}

.index a:hover {
    color: #373638;
    background-color: #ebeced;
}

.icon {
    width: 15%;
    height: 15%;
    padding-right: 15px;

    /*icon图标和文字对齐*/
    display: inline-block;
    vertical-align: text-bottom;
}

.main {
    position: absolute;
    float: left;
    left: 260px;
    width: 1650px;
    height: 100%;
}

