.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-left: 120px;
    margin-top: 30px;
    width: 500px;
    height: 50px;
    line-height: 50px;
    /*float: left;*/
}

.searchBar input {
    flex: 1;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0 20px;
    transition: all .3s;
}

.searchBar input:focus {
    box-shadow: 0 0 5px #eee;
}

.searchBar button {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border: none;
    box-sizing: border-box;
    background-color: #145daa;
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    /*指示器改为手指形状*/
    cursor: pointer;
}


.filterBar {
    height: 30px;
    width: 500px;
    margin-left: 120px;

    /*padding: 50px 0;*/
}

.filterBar button {
    font-size: 17px;
    height: 30px;
    width: 90px;
    border: none;
    margin-right: 30px;
    border-radius: 15px;
    box-shadow: #303030 1px 1px 2px;

}

.filterBar .sortIcon {
    max-width: 70%;
    max-height: 70%;
    display: inline-block;
    vertical-align: text-top;
}


.filterBar button:hover {
    cursor: pointer;
}

/*点击按钮时改变颜色*/
.filterBar button:active {
    background-color: #145daa;
    color: white;
}


.hide {
    display: none;
}


.topics {
    left: 75px;
    width: 1500px;

    /*控制div展示范围*/
    /*height: 500px;*/
    /*overflow-y: auto;*/


    /*background-color: #ccc;*/
    position: absolute;
}

.topic {
    width: 300px;
    height: 210px;
    margin: 40px 30px 40px 40px;
    float: left;

    text-align: center;
    border-radius: 10px;
    box-shadow: darkgray 5px 5px 20px 5px;

    /*背景渐变过度效果*/
    background: linear-gradient(45deg, white, dodgerblue, wheat);
    background-size: 200%;
    transition: background-position 0.5s;

    position: relative;


}

.topic:hover {
    background-position: 100% 0;
}

.topic a {
    text-decoration: none;
    color: #0d1244;
}


/*-------------------------*/

/*跳转页面按钮的样式*/
.transPage {
    position: absolute;
    width: 100px;
    height: 50px;
    /*正常状态下按钮透明度为0*/
    opacity: 0;

    border: none;
    border-radius: 10px;
    box-shadow: #303030 2px 2px 4px;
    background-color: #d9961d;

    cursor: pointer;

    /*a标签内文字 水平垂直居中*/
    display: flex;
    align-items: center;
    justify-content: center;

}

/*鼠标悬浮时改变按钮透明度*/
.transPage:hover {
    opacity: .9;
    transition: all 0.5s;

}

#from {
    top: 70%;
    left: 10%;

}


#analyse {
    top: 70%;
    left: 55%;
}

/*-------------------------*/


.hot img {
    width: 10%;
    height: 10%;
}

#word {
    font-size: 18px;
    font-weight: bolder;
    padding: 0 25px;
}

#summary {
    font-size: 13px;
    color: #303030;
    padding: 0 20px;

    /*限制显示文本的行数*/
    -webkit-line-clamp: 3;
    /*排列方式*/
    -webkit-box-orient: vertical;
    /*将对象作为弹性伸缩盒子模型*/
    display: -webkit-box;
    /*超出限制的宽度就隐藏内容*/
    overflow: hidden;
}

#mention {
    color: #303030;
    padding: 0 20px;
}

#read {
    color: #303030;
    padding: 0 20px;
}


/*暂时不用了*/
/*话题分析窗口*/
/*当body有popup-open类名时，页面禁止滚动*/
body.popup-open {
    /*overflow: hidden;*/
    position: relative;
}

.white_content {
    display: none;
    position: absolute;
    /*top: 25%;*/
    /*left: 25%;*/
    width: 55%;
    height: 55%;
    padding: 20px;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}