<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/detailTopic.css">
    <script src="../static/js/jquery.min.js"></script>
    <title>详情</title>
</head>
<body>
<div class="main" style="display: none" id="main">
    <h2 id="word">{{ word }}</h2>
    <div class="articles">
        <div class="divTable">
            <div class="row">
                <div class="cell">发布者</div>
                <div class="cell">粉丝数</div>
                <div class="cell">所在地区</div>
                <div class="cell">正文</div>
                <div class="cell">点赞数</div>
                <div class="cell">评论数</div>
                <div class="cell">转发数</div>
                <div class="cell">发布时间</div>
            </div>
            {% for i in data %}
                <div class="row">
                    <div class="cell"><a href="{{ i[4] }}">{{ i[2] }}</a></div>
                    <div class="cell">{{ i[5] }}</div>
                    <div class="cell">{{ i[6] }}</div>
                    <div class="cell" id="text"><a href="{{ i[1] }}">{{ i[12] }}</a></div>
                    <div class="cell">{{ i[9] }}</div>
                    <div class="cell">{{ i[10] }}</div>
                    <div class="cell">{{ i[11] }}</div>
                    <div class="cell">{{ i[13] }}</div>
                </div>

            {% endfor %}

        </div>
    </div>

</div>
<img src="../static/images/double_loading.svg" id="windowLoading" alt="loading....">

</body>
<script src="../static/js/detailTopic.js"></script>
</html>
