{% extends "index.html" %}
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/detailTopic.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <title>话题详情</title>
    </head>
{% endblock %}
{% block content %}
    <body>
    <div class="main" style="display: none" id="main">
        <input type="hidden" id="word" value="{{ word }}">
        <div class="charts">
            <div class="pie" id="pie"></div>
        </div>
        <div class="divTable"></div>
    </div>
    </div>

    <img src="../static/images/double_loading.svg" id="windowLoading" alt="loading....">

    </body>
    <script src="../static/js/detailTopic.js"></script>
    </html>
{% endblock %}