<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/detailTopic.css">
    <script src="../static/js/jquery.min.js"></script>
    <title>详情</title>
</head>
<body>
<div class="main" style="display: none" id="main">
    <h2 id="word">{{ word }}</h2>
    <div class="articles">
        <table>
            <tr>
                <td>发布者</td>
                <td>粉丝数</td>
                <td>所在地区</td>
                <td>正文</td>
                <td>点赞数</td>
                <td>评论数</td>
                <td>转发数</td>
                <td>发布时间</td>
            </tr>
                {% for i in data %}
            <tr>

                    <td>{{ i[2] }}</td>                             {# 发布者 #}
                    <td>{{ i[3] }}</td>                             {# 粉丝数 #}
                    <td>{{ i[4] }}</td>                             {# 所在地区 #}
                    <td class="content"><a href="{{ i[1] }}">{{ i[10] }}</a></td>            {# 正文 #}
                    <td>{{ i[7] }}</td>                             {# 点赞数 #}
                    <td>{{ i[8] }}</td>                             {# 评论数 #}
                    <td>{{ i[9] }}</td>                             {# 转发数 #}
                    <td>{{ i[11] }}</td>                            {# 发布时间 #}
            </tr>

                {% endfor %}
        </table>


    </div>

</div>
<img src="../static/images/double_loading.svg" id="windowLoading" alt="loading....">

</body>
<script src="../static/js/detailTopic.js"></script>
</html>
