{% extends "index.html" %}
{% block head %}
    <!DOCTYPE html>
    <html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="stylesheet" href="../static/css/hotSearch.css">
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/echarts.min.js"></script>
        <title>{% block title %}热搜{% endblock %}</title>
    </head>
{% endblock %}
<body>
{% block content %}

    <div class="main">
        <div class="hot_search" id="hot_search"></div>
        <div class="trend" id="trend">
            <div class="read" id="read"></div>
            <div class="mention" id="mention"></div>
            <div class="ori" id="ori"></div>
        </div>
    </div>
    <script src="../static/js/showHotSearch.js"></script>
    <script src="../static/js/transfer.js"></script>
    </body>
    </html>
{% endblock %}
